# Ship icons
shipIcon=/img/ship/ship.png
shieldShipIcon=/img/ship/shield_ship.png
shipMissile=/img/ship/ship_shoot.png
explodePart1=/img/ship/explode1.png
explodePart2=/img/ship/explode2.png
explodePart3=/img/ship/explode3.png
explodePart4=/img/ship/explode4.png
# Alien
alienMissile=/img/alien/alien_lazer.png
blueAlienIcon=/img/alien/blue_alien.png
greenAlienIcon=/img/alien/green_alien.png
lazersIcon=/img/alien/lazers.png
redAlienIcon=/img/alien/red_alien.png
yellowAlienIcon=/img/alien/yellow_alien.png
bossAlienIcon=/img/alien/boss_alien.png
# Alien Dying
alienExplode1=/img/alien_death/explode1.png
alienExplode2=/img/alien_death/explode2.png
alienExplode3=/img/alien_death/explode3.png
alienExplode4=/img/alien_death/explode4.png
alienExplode5=/img/alien_death/explode5.png