# Ship icons
shipIcon=res/img/ship/ship.png
shipMissile=res/img/ship/ship_shoot.png
explodePart1=res/img/ship/explode1.png
explodePart2=res/img/ship/explode2.png
explodePart3=res/img/ship/explode3.png
explodePart4=res/img/ship/explode4.png
# Alien
alienMissile=res/img/alien/alien_lazer.png
blueAlienIcon=res/img/alien/blue_alien.png
greenAlienIcon=res/img/alien/green_alien.png
lazersIcon=res/img/alien/lazers.png
redAlienIcon=res/img/alien/red_alien.png
yellowAlienIcon=res/img/alien/yellow_alien.png